.encabezado{
    display: grid;
    margin-top: 20px;
    height: 70px;
    grid-template-columns: 0.4fr 2fr 3fr 0.4fr 0.4fr 0.4fr 0.4fr;
}
.tituloEncabezado{
    grid-column: 2/4;
    margin-top: 5px;
    text-align: left;
}
.cajaFacebook{
    grid-column: 4/5;
}
.cajaInstagram{
    grid-column: 5/6;
}
.cajaTiktok{
    grid-column: 6/7;
}
.cardHistoria{
    padding: 8%;
}

.card-title{
    text-align: center;
}