<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="encabezado container-fluid">
    <h1 class="tituloEncabezado">CLÍNICA VETERINARIA ZOOSPITAL</h1>
    <div class="cajaFacebook">
        <a href="https://www.facebook.com/zoospital593/">
            <i class="bi bi-facebook fs-3" style="color: black;"></i>
        </a>
    </div>
    <div class="cajaInstagram">
        <a href="https://www.instagram.com/zoospital.ec/">
            <i class="bi bi-instagram fs-3" style="color: black;"></i>
        </a>
    </div>
    <div class="cajaTiktok">
        <a href="https://www.tiktok.com/@zoospital?lang=es">
            <i class="bi bi-tiktok fs-3" style="color: black;"></i>
        </a>
    </div>
</header>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Zoospital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactos">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pacientes">Nuestros Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctores">Nuestros Médicos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="contenedor">
    <hr>
    <h4>
        Te presentamos nuestros servicios:
    </h4>
    <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
        <div class="col">
            <div class="card">
                <img th:src="@{/imagenes/servicios/chequeo.jpg}" class="card-img-top" alt="chequeo">
                <div class="card-body">
                    <h5 class="card-title">Chequeo médico</h5>
                    Una atención integral de las enfermedades que afectan a tu mascota, enfocada al diagnóstico y tratamiento más adecuado, en base a conocimientos adquiridos por una capacitación y actualización permanente, serán la base para resolver los problemas de salud que los aquejan.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img th:src="@{/imagenes/servicios/baño.jpeg}" class="card-img-top" alt="peluqueria">
                <div class="card-body">
                    <h5 class="card-title">Peluquería</h5>
                    En un ambiente relajado y sin stress, con música relajante y aromaterapia, cortes de acuerdo a la raza, para darles un nuevo look. Incluye baño, cepillado, corte de uñas, drenaje de glándulas perianales, perfumado y lazo o corbata de obsequio.(Servicio bajo previa cita).
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img th:src="@{/imagenes/servicios/cirugia.jpg}" class="card-img-top" alt="cirugia">
                <div class="card-body">
                    <h5 class="card-title">Cirugía</h5>
                    Contamos con el servicio de cirugía para mascotas, realizadas en quirófanos totalmente equipados con tecnología de punta como oximetría de pulso, monitor multiparámetros, equipo de anestesia inhalatoria, concentrador de oxígeno, electrobisturí, bomba de infusión y personal altamente capacitado, además de un control posquirurgico y hospitalización
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img th:src="@{/imagenes/servicios/atencion24horas.jpg}" class="card-img-top" alt="atencion24horas">
                <div class="card-body">
                    <h5 class="card-title">Emergencias</h5>
                    Una oportuna atención médica, puede ser crucial para salvar la vida de tu mascota. En ANIMAL VET, estamos dispuestos a ayudarte, en la comodidad de tu hogar y para tu mayor tranquilidad en caso de ser necesario, contamos con servicio de ambulancia, para el traslado  a nuestro centro médico.
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>